*{
    box-sizing: border-box;
}
.bv{
    border: 1px solid red;
}
.pay-body{
    margin: 6% 0%;
}
.breadcrumbs{
    padding: 30px;
    background-color: #F6F7F8;
    text-align: center;
    font-size: 18px;
    margin-bottom: 6%;
    font-family: 'ABeeZee';
}
.sol{
    color: #C1C8CE;
}
.bread-link{
    color: #1AC073;
}
.title-bill{
    font-family: 'Lexend Deca';
    font-weight: bold;
    display: flex;
    align-items: center;
}
.horizol{
    width: 100%;
    border: 1px solid #F6F7F8;
    margin-bottom: 5%;
    margin-top: 5%;
}
.pizza-ordered{
    font-family: 'Lexend Deca';
}
.mobile-piz-detail{
    display: none;
}
.piz-detail{
    width: 20%;
}
.piz-name{
    font-size: 18px;
    font-weight: bold;
}
.piz-des{
    font-size: 12px;
    color: #929292;
}
.num-of-piz{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btn-piz{
    display: flex;
    margin-top: 22px;
}
.change-num{
    border: none;
    background-color: #F6F7F8;
    padding:0px 7px;
    color: #1AC073;
}
.num-piz{
    background-color: #F6F7F8;
    font-size: 18px;
    padding: 5px 20px;
}
.btn-remove-item{
    font-size: 14px;
    color: #F20505;
    text-decoration: underline;
    border: none;
    background-color: white;
}
.bill{
    margin-top: 8%;
}
.input-voucher {
    display: flex;
    height: 55px;
}

.input-voucher input {
    width: 55%;
    padding-left: 20px;
    border: none;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    background: #F9F9F9;
}

.input-voucher input:focus {
    outline: none;
}

.input-voucher button {
    width: 20%;
    border: none;
    border-radius: 0px 5px 5px 0px;
    background-color: #1AC073;
    font-size: 14px;
    color: white;
}
.group-text{
    font-family: 'Lexend Deca';
    font-size: 18px;
    margin-bottom: 10%;
}
.total-bill-class{
    font-size: 30px;
}
.btn-check-out{
    font-size: 18px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #1AC073;
    color: white;
    height: 60px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.651);
}

/*****************CSS MODAL**********/
#heck-out-modal{
    font-family: 'Lexend Deca';
}
.modal-check{
    margin-top: 5%;
}
.mdl-title{
    font-family: 'ABeeZee';
    font-size: 32px;
    color: #1AC073;
    text-align: center;
}
.mdl-page{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:50px 0px;
}
.number-of-page{
    padding: 10px 17px;
    background-color: lightgrey;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50%;
}
.done{
    background-color: #1AC073;
}
hr{
    border-top: 3px solid lightgrey !important;
    width: 30px;
}
.select-payment{
    font-size: 22px;
    color: #1AC073;
    font-weight: bold;
    margin-bottom: 25px;
}
.payment-label{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.payment-text{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.payment-text img{
    margin: 0px 20px;
}
.label-text{
    color: #223263;
    font-weight: bold;
    font-size: 19px;
}
.payment-checkbox{
    margin: 0px 15px;
}
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 3px;
}
input[type="checkbox"]::before {
    content: "";
    width: 1.4rem;
    height: 1.4rem;
    clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 86% 38%, 40% 78%, 15% 50%);
    transform: scale(0);
    background-color: green;
}
input[type="checkbox"]:checked::before {
    transform: scale(1);
}
.payment-label:focus-within{
    background-color: #F0FAF7;
}
.inp-form{
    width: 100%;
    height: 60px;
    font-size: 19px;
    color: gray;
    border: none;
    border-radius: 10px;
    background-color: lightgray;
    padding-left: 20px;
    margin-bottom: 40px;
}
textarea.inp-form{
    height: 150px;
    resize: none;
    padding-top: 15px;
}
.btn-payment{
    text-align: center;
    margin: 5% 0%;
}
.btn-go-payment{
    height: 70px;
    width: 35%;
    border: none;
    border-radius: 10px;
    background-color: #1AC073;
    color: white;
    font-size: 26px;
    font-weight: bold;
}
/**************************************************** TABLET */
@media screen and (max-width: 991px) {
    .piz-name{
        font-size: 14px;
    }
    .num-piz{
        background-color: #F6F7F8;
        font-size: 16px;
        padding: 5px 5px;
    }
    .change-num{
        padding: 0px 10px;
    }
    #btn-remove-item{
        font-size: 12px;
        margin: 0px;
    }
    .group-text{
        font-size: 16px;
    }
    .total-bill-class{
        font-size: 26px;
    }
    .btn-check-out{
        height: 55px;
    }
    .input-voucher input{
        width: 80%;
    }
    .input-voucher button{
        width: 35%;
    }
    .btn-go-payment{
        font-size: 20px;
        height: 55px;
        width: 50%;
    }
}

/********************************************************* MOBILE */
@media screen and (max-width : 767px) {
    .breadcrumbs{
        font-size: 14px
    }
    .title-bill{
        font-size: 14px;
    }
    .piz-detail{
        display: none;
    }
    .mobile-piz-detail{
        display: block;
        margin-bottom: 10px;
    }
    .btn-piz{
        flex-direction: column;
    }
    .num-piz{
        text-align: center;
    }
    #btn-remove-item{
        font-size: 10px;
        margin: 0px;
    }
    .input-voucher{
        margin-bottom: 10%;
    }
    .input-voucher input{
        width: 100%;
    }
    .input-voucher button{
        width: 35%;
    }
    .btn-check-out{
        width: 80%;
    }
    .btn-go-payment{
        width: 80%;
        height: 50px;
    }
}