* {
    box-sizing: border-box;
}
.section-title {
    margin-top: 6%;
    margin-bottom: 4%;
}
.icon-cart-mobile{
    display: none;
}
/***************************************CSS Header*/

.bg-color {
    background-color: #15c070;
}

.nav-bar {
    padding-top: 3%;
    padding-bottom: 12%;
}

.logo {
    font-family: 'Squada One';
    color: white;
    font-size: 32px;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
}
.list-nav{
    display: block;
    margin: auto;
}
.nav {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.authentic {
    padding-bottom: 12%;
}

.au-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.title {
    font-family: 'Abhaya Libre';
    font-size: 70px;
    color: white;
}

.des {
    font-size: 18px;
    color: white;
}

.input-email {
    display: flex;
    height: 55px;
}

.input-email input {
    width: 55%;
    padding-left: 20px;
    border: none;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    background: #F9F9F9;
}

.input-email input:focus {
    outline: none;
}

.input-email button {
    width: 20%;
    border: none;
    border-radius: 0px 5px 5px 0px;
    background-color: #ecb602;
    font-size: 14px;
    color: white;
}

.cooking-responsive {
    max-width: 100%;
    height: auto;
}

/*************************************************css kitchen*/
.kitchen-section{
    background-color: #F7F8FA;
}

.btn-kitchen {
    display: flex;
    margin-bottom: 5%;
}

.btn-kitchen button {
    color: #929292;
    padding: 10px 40px;
    border: none;
    border-top: 1px solid #F3BA00;
    border-bottom: 1px solid #F3BA00;
    border-right: 1px solid #F3BA00;
}

.btn-kitchen button:first-child {
    border-left: 1px solid #F3BA00;
    border-radius: 13px 0px 0px 13px;
}

.btn-kitchen button:last-child {
    border-radius: 0px 13px 13px 0px;
}

.btn-selected {
    color: black !important;
    font-weight: bold;
    background-color: #F3BA00;
}

#selecte-filter {
    margin-bottom: 5%;
    width: 23%;
    height: 50px;
    border: 1px solid #929292;
    border-radius: 10px;
    color: #929292;
    padding: 0 15px;
    -webkit-appearance: none;
    appearance: none;
}

.select-wrapper {
    position: relative;
}

.select-wrapper::after {
    content: "∨";
    font-size: 1rem;
    font-weight: bold;
    top: 13px;
    left: 21%;
    position: absolute;
}
.product{
    margin-bottom: 5%;
}
.card-product{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    height: auto;
}
.thump-img{
    width: 100%;
}
.main-card-product{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.name-pizza{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
}
.name{
    font-size: 18px;
    width: 80%;
}
.price{
    font-size: 20px;
}
.rating-time-add{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}
.rating-time{
    display: flex;
    flex-direction: row;
}
.rnt{
    background-color: #F7F8FA;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 14px;
    padding: 0px 5px;
    display: flex;
    align-items: center;
}
.time{
    margin-left: 5px;
}
.button-lm{
    margin-top: 3%;
    padding-bottom: 5%;
}
.btn-loadmore{
    border: 1px solid #F3BA00;
    border-radius: 10px;
    height: 50px;
    width: 18%;
    color: #929292;
    background-color: white;
}

/* CSS BLOG */
.blog-main{
    margin-bottom: 10%;
}
.card-blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.content-blog{
    width: 90%;
}
.blog-title{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*********************************************CSS CONTACT*/
.contact-section{
    background-color: #F7F8FA;
    padding-bottom: 5%;
}
.contact-title{
    margin-top: 20%;
}
input#name, input#email{
    height: 58px;
}
textarea#mess   {
    resize: none !important; 
    height: 200px;
    padding-top: 20px;
}
.inp{
    width: 100%;
    background-color: white;
    border: 1px solid lightgray;
    padding-left: 20px;
    border-radius: 10px;
}
.message{
    margin-top: 5%;
}
.btn-send{
    margin-top: 5%;
    margin-bottom: 5%;
}
.horizol{
    width: 100%;
    border-top: 1px solid white;
    margin-top: 20px;
    margin-bottom: 10px;
}
.copy-right{
    text-align: center;
    font-size: 12px;
    color: white;
    padding-bottom: 20px;
}
.footer-nav-icon{
    display: none;
}
/**************************************************** TABLET */
@media screen and (max-width: 991px) {
    body{
        position: relative;
    }
    .icon-cart-mobile{
        position: fixed;
        display: block;
        top: 200px;
        right: 25px;
        background-color: #000000b7;
        z-index: 1;
        padding: 12px;
        border-radius: 50%;
    }
    #icon-cart-mobile{
        height: 40px;
    }
    .nav-bar {
        padding-bottom: 0px;
    }
    .list-nav{
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .nav{
        font-size: 20px;
        font-weight: bold;
        text-decoration: underline;
        
    }
    .nav-icon {
        visibility: hidden;
    }
    .footer-nav-icon{
        display: block;
        text-align: center;
        margin-top: 5px;
    }

    .logo {
        text-align: center;
    }

    .au-search {
        display: block;
        margin: auto;
        margin-bottom: 10%;
    }

    .title {
        font-size: 55px;
    }

    .des {
        font-size: 16px;
    }
    .btn-loadmore{
        width: 30%;
    }

    .input-email input {
        width: 70%;
    }

    .input-email button {
        width: 30%;
    }

    .au-image {
        text-align: center;
    }
    .rnt{
        font-size: 18px;
    }
    .footer-nav{
        display: none;
    }
}

/********************************************************* MOBILE */
@media screen and (max-width : 767px) {
    .title {
        font-size: 45px;
        text-align: center;
    }
    .btn-kitchen{
        display: none;
    }
    .btn-loadmore{
        width: 40%;
    }
    #icon-cart-mobile{
        height: 25px;
    }
}